#button{
    width: 400px;
    height: 40px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-content: center;
}

#runbuttons{
    width: 200px;
    height: 30px;
    background-color: skyblue;
    color: aliceblue;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-content: center;
}

.panel {
    margin-bottom: 5px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}




