#button{
    width: 400px;
    height: 40px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-content: center;
}